.container{
	width: 10rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
	font-size: .38rem;
	overflow: hidden;
}


.center .head{
	overflow: hidden;
	text-align: center;
	height: 2.93rem;
	margin: 0.933rem 0 1.07rem;
	position: relative;
}

.center .head >input{
	opacity: 0;
    width: 2.08rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.04rem;
    margin-top: -1.4rem;
    z-index: 9;
}
.center .head #preview>img{
	width: 2.08rem;
	height: 2.08rem;
	border-radius: 50%;
}
.center .head>p{
	color: #000;
	font-size: 0.373rem;
	padding-top: 0.267rem;
}

.center .head>p>input{
    text-align: center;
    border: none;
    background: #fff;
	/*background: url('/yitaibi_ml3k9o/public/static/images/images/bi.png') no-repeat 0 0;*/
}
.center .money{
	text-align: center;
}
.center .money>p{
	color: #000;
	font-size: 0.4rem;
	margin-bottom: 0.533rem;
}
.center .money p>span{
	color: #fff;
	background: #545A91;
	padding: 0.053rem 0.4rem;
	margin: 0 0.213rem;
	border-radius: 0.08rem;
}
.center .money a>button{
	width: 1.2rem;
	height: 0.56rem;
	color: #fff;
	font-size: 0.373rem;
	background: #545A91;
	border-radius: 0.08rem;
	margin-right: 0.267rem;
}

.center .money>button:last-child{
	margin-right: 0.933rem;
}

.center .card{
	margin: 1.28rem 0.4rem 0;
}
.center .card .card_num{
	width: 100%;
	height: 2.4rem;
	color: #fff;
	margin-bottom: 0.133rem;
}
.card .card_num .news{
	margin-left: 2.88rem;
	padding-top: 0.347rem;
}
.card .card_num .news>h4{
	font-size: 0.427rem;
}
.card .card_num .news>p{
	font-size: 0.32rem;
	padding: 0.133rem 0;
}
.card .card_num .news>button{
	color: #545A91;
	font-size: 0.267rem;
	padding: 1px 0.107rem;
	background-color: #fff;
	border-radius: 0.08rem;
}
/*弹框*/
.tan{
	width: 5.33rem;
	height: 3.28rem;
	background: #545A91;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -2.67rem;
	margin-top: -2.48rem;
	border-radius: 0.133rem;
	display: none;
}
.tan .content>.title{
	color: #FEFEFE;
	font-size: 0.4rem;
}
.tan .content .money{
	text-align: center;
	color: #FEFEFE;
}
.tan .content .ipt{
	display: inline-block;
	background-color: #fff;
	color: #333;
	border-radius: 0.08rem;
	font-size: 0.32rem;
    margin-left: 0.133rem;
}
.tan .content .ipt>input{
	width: 0.933rem;
	border:none;
	border-radius: 0px 0.08rem 0.08rem 0;
}
.tan .close{
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
	top: 0;
	right: 0;
}
.tan .close>div{
	width: 0.373rem;
	height: 0.373rem;
	font-size: 0.32rem;
	text-align: center;
	margin: 0.187rem auto 0;
	background-color: #fff;

}
.tan .qr{
	margin-top: 0.533rem;
}
.tan .qr>button{
	width: 1.333rem;
	height: 0.48rem;
	color: #333;
	font-size: 0.32rem;
	background: #fff;
	border-radius: 0.08rem;
}

.tan .num{
	color: #fff;
	margin-bottom: 0.133rem;
	margin-left: 0.533rem;
}
.tan .num>input{
	width: 2.4rem;
	color: #fff;
	border:none;
	background-color: #545A91;
	display: inline-block;
}
.tan .zf{
	color: #333;
	width: 1.52rem;
	height: 0.453rem;
	border-radius: 0.08rem;
	font-size: 0.32rem;
	float: right;
	margin-top: 0.16rem;
	margin-right: 0.373rem;
	background-color: #fff;
}

.tan .yqm{
	margin-left: 0.533rem;
}
.tan .yqm>input{
	color: #fff;
	width: 4rem;
	border:none;
	background-color: #545A91;
	font-size: 0.32rem;
}
.tan .yqm>button{
	width: 2.13rem;
	height:0.613rem;
	color: #333;
	font-size: 0.32rem;
	border-radius: 0.08rem;
	background-color: #fff;
	margin-top: 0.4rem;
	float: right;
	margin-right: 0.533rem;
}
.sub{
	display: none;
}
.show{
	display: block;
}
.tan .czaddress{
        text-align: center;
        color: #333;
        width: 2.1rem;
        height: 0.453rem;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
}
.tan .cpaddress{
	color: #111;
	background-color: #fff;
}
.tan .content .memo{
	color: #fff;
	height: 0.453rem;
	margin-bottom: 0.133rem;
	margin-left: 0.133rem;
}
.tan .content .memo>input{
	text-align: center;
	width: 2.8rem;
	height: 0.453rem;
	border:none;
}
.tan .content .cpmemo{
	width: 1.0rem;
	height: 0.453rem;
	background-color: #fff;
}
.tan .content .czwarning{
	color: #fff;
	font-size: 0.25rem;
	margin-left: 0.133rem;
}
